#borderimg { 
  border: 2px solid transparent;

  border-image: url(images/border.png) 30 round;
}

.borderpage { margin-top:3%; margin-bottom: 3%; margin-left: 13%; margin-right: 13%;
border: 2px solid;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Garamond", Times, Serif;
}

.btn-height {
	height: 35px;
	background-color: lightgrey;
	color: white;
}

.ty {margin-top:-5%;}

.bloco {
	margin-top: 200px;
}
