



.subsub-menu-right-wrapper,
.sub-menu-right-wrapper {
    opacity: 0;
    visibility: hidden;
    background-color: #151515;
    position: absolute;
    padding: 0px 10px 0;
    width: 100%;
    top: 0;
    max-width: 240px;
    bottom: 0;
    right: 260px;
    height: 100%;
    display: table;
    -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
}

.subsub-menu-right-wrapper {
    background-color: #191919;
}

.primary-menu li:hover .subsub-menu-right li:hover a,
.primary-menu li:hover .sub-menu-right-wrapper li:hover a,
.primary-menu li:hover a {
    color: rgba(255, 255, 255, 1);
}

.primary-menu li:hover .subsub-menu-right li a,
.primary-menu li:hover .sub-menu-right-wrapper li a,
.menu-search .btn,


.primary-menu li:hover .subsub-menu-right li a {
    color: rgba(255, 255, 255, 0.7) !important;
}

.primary-menu li:hover .subsub-menu-right li:hover a {
    color: rgba(255, 255, 255, 1) !important;
}



.sub-menu-right li:hover .subsub-menu-right-wrapper,
.child-menu:hover .sub-menu-right-wrapper {
    opacity: 1;
    z-index: 1000;
    right: 90%;
    position: absolute;
    visibility: visible;
}



