.circle-image { border-radius: 50% }

.ml-negative { margin-left: -15px; }
.mt-negative-1 {margin-top:-15px;}
.mt-negative-2 {margin-top:-30px;}

.text-default {color: rgba(255, 255, 255, 0.7);
				font-family: "FontAwesome";}

.text-white {font-family: "FontAwesome";}

.zoom:hover { transform: scale(1.1,1.1)}

.h0 { font-size: 50px;}


.font-title { font-family: 'Alegreya Sans SC Thin';}

.btn-gray {background-color: gray;}

.mt-8 {margin-top: 50px} 



.image-upload>input {
  display: none;
}